@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
    min-width: 1000px;
}

main{
    margin: 5px 5px 0px 5px;
}
/* Linha superior*/
#linha{
    height: 20px;
    background-color: rgba(48, 43, 43, 0.904);
    margin-top: 30px;
    width: 100%;
}
/* fim*/ 

/* informações pessoais e foto de perfil*/
header{
    position: relative;
    height: 210px; 
    padding: 20px;
    width: 850px;
    min-width: 300px; 
    margin: 0  auto;
}
picture, div.information{
    display: inline-block;

}

picture{
    
    margin: 0 100px 0 15px;
}
img{
    border-radius: 50px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.315);

}
.information{
    position: relative;
    bottom: 65px;
    padding: 10px 10px 10px 10px;
}
/* fim*/

/* Objectif*/

#objectif{
    width: 1000px;
    margin: 10px auto;
    padding-bottom: 0;

}
#objectif > p {
    padding: 1px auto;
    margin: 1px auto;
    width: 550px;
}
#objectif > h2{
    margin: 1px auto;
    width: 100px;
}

/*Fim*/

/* experiences profissionelles*/
#experience_profisionnelle{
    height: 750px;
    min-width: 1320px;
    max-width: 900px;
    margin: 1px auto;
    border-top: 3px  solid black;
    border-bottom: 3px  solid black; ;
}
#experience_profisionnelle >h2 {
    padding: 0 1px 0 3px;
    width: 330px;
    margin: 5px auto;
}

div.exp{
    position: relative;
    height: 300px;
    width: 350px;
    padding: 10px 10px 10px 10px ;
    margin: 10px 15px 10px 35px ;
    float: left;
    clear: right;
    left: 30px;
}
#accomplissements{
    width: 400px;
}
/*Fim*/

/*Base*/
.base{
    border: 1px solid black;
    padding: 10px;
    height: 650px;
}
#contact, #divers, #formation, #competences{
    border: 1px solid black;
    width: 350px;
    padding: 15px;
}

#formation{
    position: relative;
    left:450px;
    top: -613px;
    padding: 10px;
}

div.universidade{
    margin-bottom: 60px ;
}

#competences{
    position: relative;
    bottom: 1215px;
    left: 900px;
}
