@charset "UTF-8";
body{
    margin: 1px auto;
    padding: 0;
    min-width: 62.5em;
}

main{
    margin: 0.62em auto;
}
/* Linha superior*/
#linha{
    height: 1.25em;
    background-color: rgba(48, 43, 43, 0.904);
    margin-top: 3em;
    min-width: 82.5em;
}

#linha-base{
    background-color:  rgba(48, 43, 43, 0.904);;
    min-width: 82.5em;
    height: 1.25em;
    margin-bottom: 3em;
}
/* fim*/ 

/* informações pessoais e foto de perfil*/
header{
    position: relative;
    height: 13.5em; 
    padding: 1.25em;
    width: 46em;
    min-width: 18.75em; 
    margin: 10px auto;
}
picture, div.information{
    display: inline-block;
}

picture{
    
    margin: 10px auto;
}
img{
    border-radius: 50px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.315);

}
.information{
    position: relative;
    bottom: 65px;
    padding: 10px 10px 10px 10px;
}
picture, .information{
    position: relative;
    margin: 3px auto;
}
/* fim*/

/* Objectif*/

#objectif{
    width: 1000px;
    margin: 10px auto;
    padding-bottom: 0;

}
#objectif > p {
    padding: 1px auto;
    margin: 1px auto;
    width: 550px;
}
#objectif > h2{
    margin: 1px auto;
    width: 100px;
}

/*Fim*/

/* experiences profissionelles*/
#experience_profisionnelle{
    height: 750px;
    min-width: 1320px;
    max-width: 900px;
    margin: 1px auto;
    border-top: 3px  solid black;
    border-bottom: 3px  solid black; ;
}
#experience_profisionnelle >h2 {
    padding: 0 1px 0 3px;
    width: 330px;
    margin: 5px auto;
}

div.exp{
    position: relative;
    height: 300px;
    width: 350px;
    padding: 10px 10px 10px 10px ;
    margin: 10px 15px 10px 35px ;
    float: left;
    clear: right;
    left: 30px;
}
#accomplissements{
    width: 400px;
}
/*Fim*/

/*Base*/
.base{
    padding: 10px;
    height: 650px;
}
#contact, #divers, #formation, #competences{
    width: 350px;
    padding: 15px;
}

#formation{
    position: relative;
    left:450px;
    top: -613px;
    padding: 10px;
}

div.universidade{
    margin-bottom: 60px ;
}

#competences{
    position: relative;
    bottom: 1215px;
    left: 900px;
}
/*Fim*/