@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
    min-width: 1000px;
}
/* Linha superior*/
#linha{
    height: 20px;
    background-color: rgb(48, 43, 43);
    margin-top: 30px;
    width: 100%;
}
/* fim*/

/* informações pessoais e foto de perfil*/
header{
    position: relative;
    height: 235px; 
    padding: 20px;
    width: 850px;
    min-width: 300px; 
    margin: 0  auto;
    border: 1px solid black;
}
picture, div.information{
    display: inline-block;

}

picture{
    
    margin: 0 100px 0 15px;
}
img{
    border-radius: 50px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.315);

}
.information{
    position: relative;
    bottom: 65px;
    padding: 10px 10px 10px 10px;
}
/* fim*/

/* Objectif*/

