
body{
    font-family: 'Raleway', sans-serif;
    color: #272727;
}
h1#name{
    letter-spacing: 3px;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin: 0;
}
h2#occupation{
   color: #c2331a;
   font-size: 20px;
   margin: 0;
}
h3#personal_information{
    letter-spacing: 3px; 
    font-size: 15px;
}
h2{
    color: #c2331a;
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 12px;
}
p{
    font-size: 16px;
    text-align: justify;
}
li {
    font-size: 16px;
    list-style: none;
}
