
body{
    font-family: 'Raleway', sans-serif;
    color: #272727;
}
h1#name{
    letter-spacing: 0.1em;
    font-family: 'Bebas Neue', cursive;
    font-size: 3.12em;
    margin: 0;
}
h2#occupation{
   color: #c2331a;
   font-size: 1.2em;
   margin: 0;
}
h3#personal_information{
    letter-spacing: 0.1em; 
    font-size: 1em;
}
h2{
    color: #c2331a;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.2em;
}
h3{
    font-size: 1.25em;
}
h4{
    font-size: 0.75em;
}
#description{
    font-size: 1.1em;
    font-weight: bold;
}
p{
    font-size: 1em;
    text-align: justify;
}
li {
    font-size: 1em;
}
p.label{
    font-weight: bolder;
    margin: 0.62em;
}